/* Main App styling */
body {
  background-color: #000000d9;
  animation: Gradient 20s ease infinite;
  min-height: 100vh;
  color: #E1E1E1;
  margin: 0;
  padding: 0;
}

/* Gradient animation */
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Styling the title "Path Mind" */
.app-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 70px; /* Increased font size */
  font-weight: 900; /* Bolder font */
  text-transform: uppercase;
  margin-top: 50px; /* Increased margin */
  margin-bottom: 50px; /* Increased margin */
  color: #00bcd4;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for more depth */
}

/* Animation for the title on page load */
@keyframes titleAnimation {
  0% {
    transform: rotateY(0deg); /* Initial state */
    color: #00bcd4; /* Initial color */
  }
  25% {
    transform: rotateY(360deg); /* Rotate at 25% of the animation */
    color: #ff4081; /* Change color at 25% of the animation */
  }
  75% {
    transform: rotateY(360deg); /* Rotate at 75% of the animation */
    color: #ff4081; /* Change color at 75% of the animation */
  }
  100% {
    transform: rotateY(0deg); /* Final state */
    color: #00bcd4; /* Final color (blue) */
  }
}

/* Apply the animation only on page load */
.app-title {
  animation: titleAnimation 5s linear forwards; /* Apply animation with a 5s duration */
}

/* Add background and padding to the navigation bar */
#nav-bar {
  background: linear-gradient(to right, #333, #55555572, #333);  /* Gradient Background */
  padding: 15px 0;  /* Bigger vertical padding for a grand look */
  border-radius: 15px;  /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Box shadow for depth */
  width: 80%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;  /* Transition for hover effect */
  margin: 0 auto;
  border: 1px solid whitesmoke; /* Add a white border */

}

/* Hover effect for the navigation bar */
#nav-bar:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  /* Bigger box shadow on hover */
  transform: scale(1.02);  /* Slightly scale the nav bar on hover */
}


/* Flex layout for the list items */
#nav-bar ul {
  display: flex;
  list-style: none;
  justify-content: space-around; /* evenly distributing the list items */
  margin: 0;
  padding: 0;
}

/* Styling for each list item */
#nav-bar ul li {
  padding: 10px;
  font-size: 20px; /* Slightly larger text size */
}

/* Style the last list item (emoji) */
#nav-bar ul li:nth-last-child(1) {
  font-size: 30px; /* Larger font size for the last list item (emoji) */
  transform: scale(2.0); /* Scale the emoji without affecting the layout */
  display: inline-block; /* Ensure it doesn't affect the line height */
}



/* Styling for the links */
#nav-bar ul li a {
  color: #F1F1F1;  /* Light gray text to match with App background */
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Hover effect for the links */
#nav-bar ul li a:hover {
  color: #00bcd4;
}

/**
--------------------- ALL PAGES GENERAL STYLING (AT THE TOP ABOVE ALL OTHER PAGES STYLED) ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/
#home-div, 
#activity-div, 
#note-div, 
#notes-list-div, 
#buy-me-a-coffee-div, 
#about-div, 
#not-found-page-div, 
#my-path-div, 
#sign-up-form{
  background: linear-gradient(135deg, #2C3E50, #4CA1AF);  /* Background Gradient */
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center children */
  min-height: 100vh;
  width: 100vw;
}

/**
--------------------- HOME PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/* Main Heading */
#home-div h1 {
  font-size: 4rem;
  color: #ECF0F1;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 10px;
}

#intro-video {
  display: flex;
  align-items: center;  /* Horizontally center children */
  flex-direction: column;
}

#intro-video video {
  width: 60vw;
  height: auto;
  border: 1px solid whitesmoke;
  border-radius: 25px;
}

#home-div h2 {
  font-size: 2rem;
  color: #ECF0F1;
  text-shadow: 1px 1px 2px #000;
}

#home-div button {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 1.5rem;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: #ECF0F1;
  color: #333;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#home-div button:hover {
  background-color: #333;
  color: #ECF0F1;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
}

#home-div p {
  color: #ECF0F1;
  font-size: 18px;
  margin-top: 15px;
  max-width: 75%;
}

#home-bottom-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

#journey-start, #features, #interactive-demo{
  margin-left: 10%;
}


/**
--------------------- SIGN UP PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#sign-up-form h1{
  font-size: 4rem;
  color: #ECF0F1;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 20px;
  letter-spacing: 1px; /* Spaced out characters */
}

#sign-up-form input {
  font-size: 24px;
  width: 400px;
  height: 40px;  /* Adjusted height */
  border: 3px solid #ccc;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #2c3e5058;
  color:whitesmoke;
}

#sign-up-form input:focus {
  outline: none;
  border: 3px solid rgba(0, 0, 255, 0.26);
}

#sign-up-form label {
  font-size: 36px;
  margin-bottom: 20px;
}

#sign-up-form button {
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 1.5rem;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: #ECF0F1;
  color: #333;
  cursor: pointer; 
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#sign-up-form button:hover {
  background-color: transparent;
  border: 3px solid rgb(22, 22, 22);
  color: #000000;
  font-size: 30px;
  cursor: pointer;
}

/**
--------------------- ABOUT PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#about-div {
  align-items: center;
  padding: 50px 0;
}

#about-div div {
  width: 45vw;
  margin: 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.028); /* Slight dark background for contrast */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
  transition: transform 0.3s ease; /* Smooth transition */
}
#about-div div h2{
  text-align: center;
  text-decoration: underline;

}

#about-div div:hover {
  transform: scale(1.05); /* Slight scale on hover */
}

#about-div h1 {
  font-size: 4rem;
  color: #ECF0F1;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 20px;
  letter-spacing: 1px; /* Spaced out characters */
}

#about-div p,  #about-div ul{
  color: #ECF0F1;
  font-size: 1.2rem;
  margin: 20px;
  line-height: 1.6;
  letter-spacing: 0.5px; /* Spaced out characters */
  list-style: none;
}




/**
--------------------- NOTE PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

/**
--------------------- NOTESLIST PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#notes-list-div #full-page-div {
  display: flex;
  width: 90vw;
  height: 80vh;
}

#notes-list-div #view-notes-div,
#notes-list-div #favourite-notes-div {
  flex: 1;
  margin-right: 5%;
  background-color: #2c3e5058;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* horizontally center the children*/
}

#notes-list-div #view-notes-div a,
#notes-list-div #favourite-notes-div a{
  text-decoration: none;
}

#notes-list-div #view-notes-div p,
#notes-list-div #favourite-notes-div p{
  color:whitesmoke;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

#notes-list-div #view-notes-div p:hover,
#notes-list-div #favourite-notes-div p:hover{
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3 ease 0s;
}

#notes-list-div #view-notes-div img{
  height: 100px;
  width: auto;
}

#notes-list-div #title {
  font-size: 60px;
  font-weight: 500;
  text-transform: capitalize;
}

#notes-list-div #files-accepted {
  text-align: center;
}

#notes-list-div #entire-note-upload-div {
  flex: 5;
  display: flex;
}

#notes-list-div #left-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes-list-div #left-container button{
  margin-top: 30px;
  padding: 10px 30px;
  font-size: 1.5rem;
  border: 1px solid whitesmoke;
  border-radius: 15px;
  background-color: #ECF0F1;
  color: #333;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

#notes-list-div #left-container button:hover {
  background-color: #333;
  color: #ECF0F1;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-7px);
}

#notes-list-div #left-part-div {
  text-align: center;
  height: 90%;
  width: 90%;
  margin-right: 5%;
  background-color: #2c3e5058;
  border-radius: 25px;
  padding: 10px;
}

#notes-list-div #left-part-div input {
  background-color: #003045;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
}

#notes-list-div #right-part-div {
  flex: 2;
  text-align: center;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#notes-list-div #right-part-div #code-snippet-div {
  width: 80%;
  height: 80%;
  background-color: #2c3e5058;
  border-radius: 25px;
}

#notes-list-div #right-part-div textarea,
#paste-note-div #note-text {
  width: 80%;
  height: 80%;
  background-color: transparent;
  resize: none;
  border: none;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 16px;
}

#paste-note-div #note-title{
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  resize: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
  height: auto;
}

#paste-note-div #note-title::placeholder{
  text-align: left;
}

#notes-list-div #right-part-div textarea:focus,
#paste-note-div textarea:focus {
  outline: none;
}

#notes-list-div #right-part-div textarea::placeholder,
#paste-note-div textarea::placeholder {
  color: #ffffff60;
  font-size: 20px;
  text-align: center;
}

#paste-note-div {
  height: 80%;
}



/**
--------------------- BUYMEACOFFEE PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


/**
--------------------- ACTIVITY PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/


/**
--------------------- MYPATH PAGE SPECIFIC STYLING ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

#my-path-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  /* This ensures the cards inside stack in rows*/
}

#my-path-div .path-card{
  height: 25vh;
  width: calc(33.3333% - 40px); 
  background-color: rgba(240, 248, 255, 0.05);
  margin: 10px;
  border-radius: 30px;
}

#my-path-div .path-card #path-desc{
  text-align: center;
}


#path-images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#path-images img {
  width: auto;
  height: 100px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#path-images img:hover{
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
  border: 3px solid rgba(34, 33, 89, 0.439);
  border-radius: 15px;
  transform: scale(1.1);
}


#my-path-div .path-card:hover{
  background-color: rgba(240, 248, 255, 0);
  color: #b6f8ff;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid whitesmoke;
  transform:translateY(-5px);
}

#my-path-div h1{
  text-align: center;
}

.custom-file-upload {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
